@{
    ViewBag.Title = "MoreParts";
}

<br /> <br />
<h2>More Parts</h2>

<br />
<table border="1">
    <tr>
        <th>Title</th>
        <th>Brand</th>
        <th>Stars</th>
        <th>Price</th>
        <th>Save</th>
    </tr>

    @for (int i = 0; i < 14; i++)
    {
    <tr>
        <td>@ViewBag.PartSearch["results"][i]["title"]</td>
        <td>@ViewBag.PartSearch["results"][i]["brand"]</td>
        <td>@ViewBag.PartSearch["results"][i]["stars"]</td>
        <td>@ViewBag.PartSearch["results"][i]["price"]</td>
        <td>@*<input type="button" onclick="/Home/SavePart" name="Save!" value="@ViewBag.PartSearch["results"][i]["product_id"] />*@</td>
    </tr>
    }
</table>