<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#AddBtn").on("submit", function (input) {
            var $this = $(this);
            var frmValues = $this.serialize();
            $.ajax({
                type: "GET",
                url: "/api/ZincParse/GetSaveGPUToDB?partid="+ input,
<<<<<<< HEAD
                /*data: '{ "input" }'*/
=======
                data: '{ "input" }',
>>>>>>> rebase
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (input) {
                    console.log("Success");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });
    });
</script>
@{
    ViewBag.Title = "MoreParts";
}
<<<<<<< HEAD
<h2>MoreParts</h2>
<br /><br />
<table border="1">
=======

<br /> <br />
<h2>More Parts</h2>

<br />
@foreach (var x in ViewBag.title)
{
    <p>@x</p>
}
<br />
@*<table border="1">
>>>>>>> Rebase
    <tr>
        <th> Title</th>
        <th> Brand</th>
        <th> Price</th>
        <th> Description</th>
        <th></th>
        <th></th>
    </tr>
<<<<<<< HEAD
    @for (int i = 0; i <= 14; i++)
    {
        <tr>
            <td> @ViewBag.PartSearch["results"][i]["title"]</td>
            <td> @ViewBag.PartSearch["results"][i]["brand"]</td>
            <td> @ViewBag.PartSearch["results"][i]["price"]</td>
            <td> @ViewBag.PartSearch["results"][i]["description"]</td>
            @*<td class="btn" type="submit" name="TODO" value="@ViewBag.PartSearch["results"][i]["product_id"]">More Details</td>*@
            @*<td class="btn" action="/api/ZincParse/SaveGPUToDB" type="button" name="partid" value="@ViewBag.PartSearch["results"][i]["product_id"]">Add</td>*@
            <td><input id="AddBtn" type="button" value="Add" onclick="function({'@ViewBag.PartSearch["results"][i]["product_id"]'})" /></td>
=======
    @for (int i = 0; i < 14; i++)
    {
        <tr>
            <td>@ViewBag.PartSearch["results"][i]["title"]</td>
                <td>@ViewBag.PartSearch["results"][i]["brand"]</td>
                <td>@ViewBag.PartSearch["results"][i]["stars"]</td>
                <td>@ViewBag.PartSearch["results"][i]["price"]</td>
            <td><input type="submit" action="/api/ZincParse/SaveGPUToDB" name="partid" value="@ViewBag.PartsSearch["results"][i]["product_id"]" /></td>
>>>>>>> Rebase
        </tr>
    }
</table>

<<<<<<< HEAD



=======
<table id="searchResults" class="table"></table>*@
>>>>>>> Rebase
