﻿@{
    ViewBag.Title = "Create";
}
<br />
<br />
<h2>Create Your Own Custom Build</h2>


<form action="/Home/MoreParts" method="get">
    <input type="submit" id="create" class="form-control" value="More CPUs" />
    <input type="hidden" name="partType" value="CPU" />
</form>
<<<<<<< HEAD
<br />
=======
>>>>>>> Rebase
<br />
<div class="container">
    <form id="buildName" action="/" method="post">
        <input type="text" class="form-control" id="buildName" value="input" />
        <input type="submit" class="form-control" id="create" value="" />
        <input type="hidden" name="buildName" value="input"/>
    </form>
    <form id="Motherboard" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More Motherboards" />
        <input type="hidden" name="partType" value="Motherboard" />
    </form>
    <form id="GPU" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More GPUs" />
        <input type="hidden" name="partType" value="GPU" />
    </form>
    <form id="CPU" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More CPUs" />
        <input type="hidden" name="partType" value="CPU" />
    </form>
    <form id="PSU" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More PSUs" />
        <input type="hidden" name="partType" value="PSU" />
    </form>
    <form id="Case" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More Cases" />
        <input type="hidden" name="partType" value="Case" />
    </form>
    <form id="RAM" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More RAM" />
        <input type="hidden" name="partType" value="RAM" />
    </form>
    <form id="Monitor" action="~/Home/MoreParts" method="post">
        <input type="search" class="form-control" id="search" value="TODO" />
        <input type="submit" id="create" class="submit form-control" value="More Monitors" />
        <input type="hidden" name="partType" value="Monitor" />
    </form>
</div>

    @*<div class="form-group">
        <label>Motherboard</label>
        <select name="motherboard" id="Motherboard">
            @foreach (var motherboard in ViewBag.Motherboards)
            {
                <option value="@motherboard["title"]">@motherboard["title"]</option>
            }
        </select>
        <input type="submit" name="partType" value="Motherboard" />
    </div>
    <div class="form-group">
        <label>GPU</label>
        <select name="gpu" id="GPU">
            @foreach (var gpu in ViewBag.GPUs)
            {
                <option value="@gpu.GPUID">@gpu.Name</option>
            }
        </select>
        <input type="submit" name="partType" value="GPU" />
    </div>
    <div class="form-group">
        CPU: <input id="CPU" name="cpu" type="text" /><br />
        </script>
    </div>
    <div class="form-group">
        <label>PSU</label>
        <select name="psu" id="PSU">
            @foreach (var psu in ViewBag.PSUs)
            {
                <option value="@psu.PSUID">@psu.Name"</option>
            }
        </select>
        <input type="button" name="partType" value="PSU" />
    </div>
    <div class="form-group">
        <label>Case</label>
        <select name="casename" id="Case">
            @foreach (var pccase in ViewBag.PCCases)
            {
                <option value="@pccase.CaseID">@pccase.Name</option>
            }
        </select>
        <input type="submit" name="partType" value="More" />
    </div>
    <div class="form-group">
        <label>RAM</label>
        <select name="ram" id="RAM">
            @foreach (var ram in ViewBag.RAMs)
            {
                <option value="@ram.RAMID">@ram.Name</option>
            }
        </select>
        <input type="submit" name="partType" value="More" />
    </div>
    <div class="form-group">
        <div class="form-group">
            <label>Monitor</label>
            <select name="moniter" id="Moniter">
                @foreach (var monitor in ViewBag.Monitors)
                {
                    <option value="@monitor.MonitorID">@monitor.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="More" />
        </div>
        <div class="form-group">
            <label>Hard Drive</label>
            <select name="hardDrive" id="HardDrive">
                @foreach (var x in ViewBag.HardDrives)
                {
                    <option value="@x.HardDriveID">@x.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="More" />
        </div>
        <div class="form-group">
            <label>Optical Driver</label>
            <select name="opticalDriver" id="OpticalDriver">
                @foreach (var x in ViewBag.OpticalDrivers)
                {
                    <option value="@x.OpticalDriverID">@x.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="More" />
        </div>
        <div class="form-group">
            <label>PCI Card</label>
            <select name="pciCard" id="PCICard">
                @foreach (var x in ViewBag.PCICards)
                {
                    <option value="@x.CardID">@x.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="More" />
        </div>
    </div>
    <input type="submit" action="" id="create" class="form-control" value="Build" />
  
</div>*@
<br />
<br />
<form action="/Home/MoreParts" method="get">
    <input type="submit"  id="create" class="form-control" value="More CPUs" />
    <input type="hidden" name="partType" value="CPU"/>
</form>







