﻿@{
    ViewBag.Title = "Create";
}
<br />
<br />
<h2>Create Your Own Custom Build</h2>
<br />
<div class="container">
    <form action="~/Home/MoreParts" method="post">
        <div class="form-group">
            <label>Name</label><input type="text" id="buildName" name="buildName" class="form-control" placeholder="Enter build name" pattern="[a-zA-Z0-9-]+" />
        </div>
        <div class="form-group">
            <label>Motherboard</label>
            <select name="motherboard" id="Motherboard">
                @foreach (var motherboard in ViewBag.Motherboards)
                {
                    <option value="@motherboard["title"]">@motherboard["title"]</option>
                }
            </select>
            <input type="submit" name="partType" value="Motherboard" />
        </div>
        <div class="form-group">
            <label>GPU</label>
            <select name="gpu" id="GPU">
                @foreach (var gpu in ViewBag.GPUs)
                {
                    <option value="@gpu.GPUID">@gpu.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="GPU" />
        </div>
        <div class="form-group">
            CPU: <input id="CPU" name="cpu" type="text" /><br />

            <input type="button" id="searchButton" value="Search" />

            <script type="text/javascript" src=""></script>
            <script type="text/javascript">
                $(function () {
                    $("#searchButton").click(function () {
                        $.ajax({
                            type: "GET",
                            url: "/Home/MoreParts",
                            data: '{country:"' + $("#country").val() + '"}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {

                                $("#searchResults").html("");// clear the table
                                for (var i = 0; i < response.length; i++) {
                                    var Customer = response[i];// get Customer at index i
                                    var Tr = "<tr>";
                                    var Td1 = "<td>" + Customer.CustomerID + "</td>";
                                    var Td2 = "<td>" + Customer.CompanyName + "</td>";

                                    $("#searchResults").append(Tr + Td1 + Td2 + "</tr>");

                                }

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            }
                        });
                    });
                });
            </script>
        </div>
        <div class="form-group">
            <label>PSU</label>
            <select name="psu" id="PSU">
                @foreach (var psu in ViewBag.PSUs)
                {
                    <option value="@psu.PSUID">@psu.Name"</option>
                }
            </select>
            <input type="submit" name="partType" value="PSU" />
        </div>
        <div class="form-group">
            <label>Case</label>
            <select name="casename" id="Case">
                @foreach (var pccase in ViewBag.PCCases)
                {
                    <option value="@pccase.CaseID">@pccase.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="More" />
        </div>
        <div class="form-group">
            <label>RAM</label>
            <select name="ram" id="RAM">
                @foreach (var ram in ViewBag.RAMs)
                {
                    <option value="@ram.RAMID">@ram.Name</option>
                }
            </select>
            <input type="submit" name="partType" value="More" />
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Monitor</label>
                <select name="moniter" id="Moniter">
                    @foreach (var monitor in ViewBag.Monitors)
                    {
                        <option value="@monitor.MonitorID">@monitor.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="More" />
            </div>
            <div class="form-group">
                <label>Hard Drive</label>
                <select name="hardDrive" id="HardDrive">
                    @foreach (var x in ViewBag.HardDrives)
                    {
                        <option value="@x.HardDriveID">@x.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="More" />
            </div>
            <div class="form-group">
                <label>Optical Driver</label>
                <select name="opticalDriver" id="OpticalDriver">
                    @foreach (var x in ViewBag.OpticalDrivers)
                    {
                        <option value="@x.OpticalDriverID">@x.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="More" />
            </div>
            <div class="form-group">
                <label>PCI Card</label>
                <select name="pciCard" id="PCICard">
                    @foreach (var x in ViewBag.PCICards)
                    {
                        <option value="@x.CardID">@x.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="More" />
            </div>
        </div>
        <input type="submit" action="" id="create" class="form-control" value="Build" />
    </form>
</div>





