﻿@{
    ViewBag.Title = "Create";
}
<br />
<br />
<h2>Create Your Own Custom Build</h2>
@*<form class="form-horizontal" action="/Parts/MoreParts" method="get">
    <input type="submit" id="create" class="form-control" value="More CPUs" />
    <input type="hidden" name="partType" value="CPU" />
</form>*@
<br />
<br />
<div class="container">
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="buildName">Build Name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="buildName" name="buildName" />
                <input type="hidden" name="buildName" value="input" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="Motherboard">Motherboard: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More Motherboards" />
                <input type="hidden" name="partType" value="Motherboard" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="GPU">GPU: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More GPUs" />
                <input type="hidden" name="partType" value="GPU" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="CPU">CPU: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More CPUs" />
                <input type="hidden" name="partType" value="CPU" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="PSU">PSU: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More PSUs" />
                <input type="hidden" name="partType" value="PSU" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="Case">Case: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More Cases" />
                <input type="hidden" name="partType" value="Case" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="RAM">RAM: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More RAM" />
                <input type="hidden" name="partType" value="RAM" />
            </div>
        </div>
    </form>
    <form class="form-horizontal" action="~/Parts/MoreParts" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" id="Monitor">Monitor: </label>
            <div class="col-sm-2">
                <input type="search" class="form-control" id="search" name="partType" value="input" />
            </div>
            <div class="col-sm-2">
                <input type="submit" id="create" class="submit form-control" value="More Monitors" />
                <input type="hidden" name="partType" value="Monitor" />
            </div>
        </div>
    </form>
</div>


    @*<form id="Motherboard" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More Motherboards" />
                <input type="hidden" name="partType" value="Motherboard" />
            </form>
            <form id="GPU" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More GPUs" />
                <input type="hidden" name="partType" value="GPU" />
            </form>
            <form id="CPU" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More CPUs" />
                <input type="hidden" name="partType" value="CPU" />
            </form>
            <form id="PSU" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More PSUs" />
                <input type="hidden" name="partType" value="PSU" />
            </form>
            <form id="Case" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More Cases" />
                <input type="hidden" name="partType" value="Case" />
            </form>
            <form id="RAM" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More RAM" />
                <input type="hidden" name="partType" value="RAM" />
            </form>
            <form id="Monitor" action="~/Parts/MoreParts" method="post">
                <input type="search" class="form-control" id="search" value="TODO" />
                <input type="submit" id="create" class="submit form-control" value="More Monitors" />
                <input type="hidden" name="partType" value="Monitor" />
            </form>
        </div>*@




    @*<div class="form-group">
                <label>Motherboard</label>
                <select name="motherboard" id="Motherboard">
                    @foreach (var motherboard in ViewBag.Motherboards)
                    {
                        <option value="@motherboard["title"]">@motherboard["title"]</option>
                    }
                </select>
                <input type="submit" name="partType" value="Motherboard" />
            </div>
            <div class="form-group">
                <label>GPU</label>
                <select name="gpu" id="GPU">
                    @foreach (var gpu in ViewBag.GPUs)
                    {
                        <option value="@gpu.GPUID">@gpu.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="GPU" />
            </div>
            <div class="form-group">
                CPU: <input id="CPU" name="cpu" type="text" /><br />
                </script>
            </div>
            <div class="form-group">
                <label>PSU</label>
                <select name="psu" id="PSU">
                    @foreach (var psu in ViewBag.PSUs)
                    {
                        <option value="@psu.PSUID">@psu.Name"</option>
                    }
                </select>
                <input type="button" name="partType" value="PSU" />
            </div>
            <div class="form-group">
                <label>Case</label>
                <select name="casename" id="Case">
                    @foreach (var pccase in ViewBag.PCCases)
                    {
                        <option value="@pccase.CaseID">@pccase.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="More" />
            </div>
            <div class="form-group">
                <label>RAM</label>
                <select name="ram" id="RAM">
                    @foreach (var ram in ViewBag.RAMs)
                    {
                        <option value="@ram.RAMID">@ram.Name</option>
                    }
                </select>
                <input type="submit" name="partType" value="More" />
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Monitor</label>
                    <select name="moniter" id="Moniter">
                        @foreach (var monitor in ViewBag.Monitors)
                        {
                            <option value="@monitor.MonitorID">@monitor.Name</option>
                        }
                    </select>
                    <input type="submit" name="partType" value="More" />
                </div>
                <div class="form-group">
                    <label>Hard Drive</label>
                    <select name="hardDrive" id="HardDrive">
                        @foreach (var x in ViewBag.HardDrives)
                        {
                            <option value="@x.HardDriveID">@x.Name</option>
                        }
                    </select>
                    <input type="submit" name="partType" value="More" />
                </div>
                <div class="form-group">
                    <label>Optical Driver</label>
                    <select name="opticalDriver" id="OpticalDriver">
                        @foreach (var x in ViewBag.OpticalDrivers)
                        {
                            <option value="@x.OpticalDriverID">@x.Name</option>
                        }
                    </select>
                    <input type="submit" name="partType" value="More" />
                </div>
                <div class="form-group">
                    <label>PCI Card</label>
                    <select name="pciCard" id="PCICard">
                        @foreach (var x in ViewBag.PCICards)
                        {
                            <option value="@x.CardID">@x.Name</option>
                        }
                    </select>
                    <input type="submit" name="partType" value="More" />
                </div>
            </div>
            <input type="submit" action="" id="create" class="form-control" value="Build" />*@

       
<br /><br />
<div class="container">
    <div class="col-sm-2">
        <form class="form-horizontal" action="~/Home/Display" method="post">
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="submit" id="create" class="submit form-control" name="buildID" value="Create Build" />
                    <input type="hidden" name="buildID" value="******" />
                </div>
            </div>
        </form>
    </div>
</div>





