@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#AddBtn").on("submit", function (input) {
                var $this = $(this);
                var frmValues = $this.serialize();
                $.ajax({
                    type: "GET",
                    url: "/api/ZincParse/GetSaveGPUToDB?partid="+ input,
                    data: '{ "input" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (input) {
                        console.log("Success");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });
        });*@
@*</script>*@
@{
    ViewBag.Title = "MoreParts";
}
<br /> <br />

@*<table border="1">
    @for (int i = 0; i <= 14; i++)
    {
        <tr>
            <td> @ViewBag.PartSearch["results"][i]["title"]</td>
            <td> @ViewBag.PartSearch["results"][i]["brand"]</td>
            <td> @ViewBag.PartSearch["results"][i]["price"]</td>
            <td> @ViewBag.PartSearch["results"][i]["description"]</td>
            <td><button>class="btn btn-default" type="submit" action="/Home/PartSearch" name="chosenPartID" value="@ViewBag.PartSearch["results"][i]["product_id"]"</button> More Details</td>
            <td class="btn btn-default" type="submit" action="/Parts/SavePart" name="chosenPartID" value="@ViewBag.PartSearch["results"][i]["product_id"]">Add</td>
            <td><input type="submit" id="create" class="submit form-control" value="More Motherboards" /></td>
            <td><input type="hidden" action="/Parts/SavePart" name="chosenPartId" value="@ViewBag.PartSearch["results"][i]["product_id"]" onclick="function({'@ViewBag.PartSearch["results"][i]["product_id"]'})" /></td>
            @*<td><input id="AddBtn" type="button" value="Add" onclick="function({'@ViewBag.PartSearch["results"][i]["product_id"]'})" /></td>*@
        @*</tr>
    }*@
@*</table>*@
<br /> <br /><br />

@for (int i = 0; i <= 14; i++)
{
    <form id="SavedPart" action="~/Parts/SavePart" method="get">
        <input type="submit" id="create" class="submit form-control" value="@ViewBag.PartSearch["results"][i]["product_id"]" />
        <input type="hidden" name="chosenPartID" value="@ViewBag.PartSearch["results"][i]["product_id"] " />
        <input type="hidden" name="partType" value="@ViewBag.PartType" />

    </form>
}

