<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>DAPS! Building Innovation</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-wide w3-padding w3-card">
			<a href="/Home/Index" class="w3-bar-item w3-button "><span class="w3-padding w3-black w3-opacity-min w3-center">DAPS</span><span class="w3-padding w3-green w3-opacity-min w3-center">Building Innovation</span></a>
			<div class="w3-left w3-hide-small">
				<a href="/Builds/Display" class="w3-bar-item w3-button">Builds</a>
				<a href="/Builds/Create" class="w3-bar-item w3-button">Create A Build</a>
			</div>
			<!-- Float links to the right. Hide them on small screens -->
			<div class="w3-right w3-hide-small">
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />

	</div>
	
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<footer class="w3-center w3-wide w3-padding-16">
		<p>Powered by &copy; DAPS @DateTime.Now.Year</p>
	</footer>
</body>
</html>
